* {
  box-sizing: border-box;
 
}
.Semaforo__container{
  background-color: black;
  width: 200px;
  height: 500px;
  
  display: flex;
  flex-direction: column;
 justify-content: space-around;
 align-items: center;
 margin: auto;
 border-radius: 5px;
 padding-top: 50px;

}
.luz_semaforo{
  background-color: grey;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.luz_semaforo.rojo.encendida{
  background-color: red;
}
.luz_semaforo.verde.encendida{
  background-color: green;
}
.luz_semaforo.amarillo.encendida{
  background-color: yellow;
}

